.navbar {
  background: rgb(51, 51, 51);
  margin: 0 24px;

  .navlinks-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
  
  a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin: 0;
  }

  a:hover {
    color: #0dcaf0;
  }

  div .signin-link {
    height: 100%;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
}