.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  .form-input {
    background-color: #eee;
    border-radius: 8px;
  }


  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}