.task-bg {
  background-color: #555;
  border-radius: 6px;
  margin: 20px 0;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.task-bg div {
  display: flex;
  align-items: center;
}

.task-number {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: 14px;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.task-bg .task-text {
  flex: 1;
}

.task-bg .done .task-text {
  text-decoration: line-through;
  opacity: 0.3;
}

.task-bg .icons-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.task-bg .icons-wrap span {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.task-bg .icons-wrap span:hover {
  color: yellow;
}
