.App {
  text-align: center;
  margin-top: 24px;
}

body {
  margin: 0;
  background: #333;
  color: #fff;
}

.app-title {
  margin-bottom: 24px;
}

.col {
  margin-right: -8px;
}

.form-control-lg,
.btn-lg {
  border-radius: 6px;
}

.mr-20 {
  margin-right: 20px;
}